mixin card(card)
  a.card(href=card.id + ".html")&attributes(attributes)
    figure.card__image.image
      img(src="img/" + card.img, alt=card.alt)
    p.card__subtitle.subtitle= card.subtitle 
    p.card__title.title= card.title
    p.card__description.description 
      span= card.description